.side-by-side {
    margin: 0px 200px;
    margin-top: 10dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    line-height: 30px;
}

.headshot {
    background-color: var(--color-erg-highlight-sage);
    border-radius: 50%;
    border: 4px solid var(--color-erg-primary-accent-green);
    width: 400px;
    height: auto;
}

.signature {
    width: 300px;
    height: auto;
}

.socials {
    gap: 20px;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 20px;
}

.socials a:hover {
    transform: scale(1.1);
    animation-name: HoverPhoto;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.about {
    text-align: left;
    margin: 10px;
}

.about p {
    font-size: large;
    margin-top: 20px;
}

@keyframes HoverPhoto {
    50% {translate: 0px -5px;}
    100% {translate: 0px 0px;}
}

@media screen and (max-width: 700px) {
    .side-by-side {
        display: unset;
    }

    .headshot {
        width: 300px;
    }

    .about {
        margin: 30px;
    }
}
