.portfolio-info {
    margin: 20px 0px;
    font-size: 1.2em;
}

.portfolio {
    margin: 0px 30px;
}

.portfolio-item {
    position: relative;
    display: inline-block;
}

.portfolio-item img {
    object-fit: cover;
    transition: 200ms;
    padding: 10px;
    width: 600px;
    height: 300px;
    border-radius: 15px;
}

.portfolio-item img:hover {
    
    animation-name: HoverPhoto;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.portfolio-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0 4px 12px rgba(0,0,0,0.7);
    pointer-events: none;
}

@keyframes HoverPhoto {
    50% {opacity: 45%;}
    100% {opacity: 100%;}
}

@media screen and (max-width: 700px) {
    .portfolio-info {
        margin-left: 10px;
        margin-right: 10px;
    }

    .portfolio {
        margin: unset;
    }

    .portfolio-item img {
        width: 24em;
        height: 12em;
    }

    .portfolio-text {
        font-size: 1.5em;
    }
}